.mdl-card {
  height:100%;
}
.mdl-card__title {
  color: #000;
  padding-top: 2em;
  padding-bottom: 0;
}

body {
  padding: 0px;
  background: #fafafa;
  position: relative;
}

.layout-transparent {
  background: url('../img/sf.jpg') center / cover;
  background-position: fixed;
  }
.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
.sidebar{
  /*background: rgba(0,0,0,.5);*/
  padding: 0px;
  right: 0;
  position: fixed;
  margin: 0;
}
.tips-list {
  padding: 0px;
  margin: 0 0;
}
.tip-card {
  width: initial;
  min-height: inherit;
}
.category {
  padding: 0;
  margin: 10px;
}
.mdl-layout__content, .mdl-cell--3-col, .mdl-grid, .demo-grid-2 {
  height: 100%;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-bottom: 10px solid black;
  margin-bottom: 10px;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-top: 10px solid black;
}

.interactive{
  width: 20px;
  float: left;
}

.stats{
  
}
